.place__websites  {

    grid-area: websites;
    display: flex;
    flex-direction: column;
    justify-content: end;
   
    
}

@media (max-width: 425px) {
    .place__websites {
font-size: 32px;
line-height: 35px;
width: 100%;
padding: 0 16px;

    }
}