.place__title {
     
    grid-area: title;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    width: 80%;
    margin: 0;

}