.place__title {
     
    grid-area: title;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    width: 80%;
    margin: 0;

}

@media (max-width: 425px) {
    .place__title {
font-size: 32px;
line-height: 35px;
width: 100%;
padding: 0 16px;

    }
}