.lead__title {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    margin-bottom: 0;
    margin-top: 56px;

}

@media (max-width: 1279px) {
    .lead__title {
        margin-top: 48px;
    }
}

@media (max-width: 1023px) {
    .lead__title {
        margin-top: 48px;
    }
}