.section-base {
    margin-top: 48px;
    max-width: calc(100% - 100px*2);
  
}

.section-base + .section-base {
    margin-top: 92px;
    
}


@media (max-width: 768px) {
    .section-base + .section-base {
    
        margin-top: 64px;
    }
    
    
}

@media (max-width: 425px) {
    .section-base {
        margin: 0 auto;
        max-width: calc(100% - 32px);
    }
      
}